<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liubowang.shiftwork"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Base.SWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TypeSetActivity"
            android:screenOrientation="portrait" />
        <!-- （或者stateHidden|adjustResize） -->
        <activity
            android:name=".Activity.SetShiftWorkActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".Activity.RingSetActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CustomRingSetActivity"
            android:parentActivityName=".Activity.RingSetActivity"
            android:screenOrientation="portrait" />
<!--android:process=":alarmreciver"-->
        <receiver
            android:name=".Alarm.reciever.AlarmReciver"
            >
            <intent-filter>
                <action android:name="com.Joe.RING_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Alarm.reciever.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Alarm.service.AlarmRingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Alarm.service.WakeServiceOne"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.WakeUpActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.ShowLogActivity"
            android:screenOrientation="portrait" >

        </activity>
    </application>

</manifest>